body{
    background-color: rgb(204, 202, 229);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


h1{
color: white;
background-color: black;
padding: 30px;
text-align: center;

}

.menu ul{
    text-align: center;
    background-color: rgb(47, 46, 46);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius:12px ;
    color: white;
    list-style: none;

}

.datos ul{
    text-align: left;
    background-color: rgb(202, 175, 202);
    justify-content: space-between;
    padding: 20px;
    border-radius: 12px ;
    width: 300px;
    color: black;

}


h2{
    color: white;
    background-color: black;
    padding: 30px;
    text-align: center;
    width: 500px;
    border-radius: 10px ;
    
}

.img1 {
    display: flex;
    width: 267px;
    text-align-last: right;
    border-style: solid;
    border-color: #ada5e3;
}

